<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Criar Anúncio - CASARÃO</title>
  <link rel="stylesheet" href="styles/criar.css">
</head>

<body>

<header class="top-header">
    <a href="main.html" class="logo">
      <h1>CASARÃO</h1>
    </a>

        <nav>
            <ul>
                <li><a href="anuncios.html">Anúncios</a></li>
                <li><a href="conversas.html">Conversas</a></li>
                <li><a href="perfil.html">Perfil</a></li>
                <li><a href="login.html" class="logout-link">Sair</a></li>
            </ul>
        </nav>
  </header>

<main class="form-page">
  <form action="" method="post" class="form-anuncio">
    <h2>Criar Anúncio</h2>
    <input type="text" name="titulo" placeholder="Título do anúncio" required>
    <textarea name="descricao" placeholder="Descrição do imóvel" required></textarea>

    <div class="form-row">
      <input type="number" step="0.01" name="preco" placeholder="Preço (€)" required>
      <select name="tipo_propriedade" required>
        <option value="">Tipo</option>
        <option value="casa">Casa</option>
        <option value="apartamento">Apartamento</option>
        <option value="terreno">Terreno</option>
        <option value="comercial">Comercial</option>
      </select>
    </div>

    <select name="status_propriedade" required>
      <option>Venda</option>
      <option>Aluguel</option>
    </select>
    <div class="caracteristicas">
          <h4>Características</h4>
          <label><input type="checkbox"> Garagem</label>
          <label><input type="checkbox"> Varanda</label>
          <label><input type="checkbox"> Jardim</label>
          <label><input type="checkbox"> Piscina</label>
          <label><input type="checkbox"> Mobilado</label>
        </div>
    <input type="text" name="endereco" placeholder="Endereço">
    <div class="form-row">
      <input type="text" name="cidade" placeholder="Cidade">
      <input type="number" name="quartos" placeholder="Quartos">
    </div>

    <div class="form-row">
      <input type="number" name="casa_banho" placeholder="Casas de banho">
      <input type="number" step="0.1" name="area_m2" placeholder="Área m²">
    </div>

    <div class="upload-area">
        <label for="imagens">Adicionar Imagens</label>
        <p id="contador-imagens">0 / 10 imagens</p>
        <input type="file" id="imagens" name="imagens[]" multiple accept="image/*">
        <div id="preview"></div>
    </div>
    <button type="submit">Criar Anúncio</button>
  </form>
</main>

</body>
</html>