<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perfil - CASARÃO</title>
  <link rel="stylesheet" href="styles/perfil.css">
</head>

<body>

<header class="top-header">
    <a href="main.html" class="logo">
      <h1>CASARÃO</h1>
    </a>

        <nav>
            <ul>
                <li><a href="anuncios.html">Anúncios</a></li>
                <li><a href="conversas.html">Conversas</a></li>
                <li><a href="perfil.html" class="active">Perfil</a></li>
                <li><a href="login.html" class="logout-link">Sair</a></li>
            </ul>
        </nav>
  </header>

<main class="perfil-page">

  <section class="perfil-top">
    <img src="styles/img/CASA.jpg" class="avatar" alt="Foto de perfil">

    <div class="perfil-info">
      <h2>Talibooo</h2>
      <p>
        Membro há 1 ano
        <span>Última atividade hoje</span>
      </p>
    </div>

    <a href="editarperfil.html" class="settings-btn">⚙ Editar Perfil</a>
  </section>

  <section class="tabs">
    <a href="perfil.html" class="active">Anúncios</a>
    <a href="perfil_fav.html">Favoritos</a>
  </section>

  <section class="perfil-actions">
    <h3>0 Anúncios</h3>

    <div class="search-sort">
      <span>🔍</span>
      <p>Ordenar por</p>

      <select>
        <option>Mais recentes</option>
        <option>Mais antigos</option>
        <option>Preço maior</option>
        <option>Preço menor</option>
      </select>
    </div>
  </section>

  <section class="empty-state">
    <section class="cards-container">

        <article class="card">
          <div class="image-box">
            <span class="badge">Novidade</span>
            <img src="https://images.unsplash.com/photo-1560185127-6ed189bf02f4" alt="Apartamento moderno">
          </div>

          <div class="card-info">
            <div class="dots">
              <span></span>
              <span></span>
            </div>

            <p class="label">Apartamento</p>
            <h3>T2 moderno no centro da cidade</h3>
            <p class="description">Apartamento renovado, com varanda, garagem e excelente localização.</p>

            <div class="details">
              <span>2 quartos</span>
              <span>85 m²</span>
              <span>Lisboa</span>
              <a class="details-btn" href="anunciosdetalhe.html">Ver mais</a>
            </div>

            <p class="price">950 € / mês</p>
          </div>
        </article>
    </section>
  </section>

</main>

</body>
</html>