<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perfil - CASARÃO</title>
  <link rel="stylesheet" href="styles/perfil.css">
</head>

<body>

<header class="top-header">
    <a href="main.html" class="logo">
      <h1>CASARÃO</h1>
    </a>

        <nav>
            <ul>
                <li><a href="anuncios.html">Anúncios</a></li>
                <li><a href="conversas.html">Conversas</a></li>
                <li><a href="perfil.html" class="active">Perfil</a></li>
                <li><a href="login.html" class="logout-link">Sair</a></li>
            </ul>
        </nav>
  </header>

<main class="perfil-page">

  <section class="perfil-top">
    <img src="styles/img/CASA.jpg" class="avatar" alt="Foto de perfil">

    <div class="perfil-info">
      <h2>Talibooo</h2>
      <p>
        Membro desde: <span>1 de janeiro de 2023</span> <br>
        Localização: <span>Lisboa</span>
      </p>
    </div>

    <a href="editarperfil.html" class="settings-btn">⚙ Editar Perfil</a>
  </section>

  <section class="tabs">
    <a href="perfil.html" class="active">Anúncios</a>
    <a href="perfil_fav.html">Favoritos</a>
  </section>

  <section class="perfil-actions">
    <h3>0 Anúncios</h3>

    <div class="search-sort">
      <span>🔍</span>
      <p>Ordenar por</p>

      <select>
        <option>Mais recentes</option>
        <option>Mais antigos</option>
        <option>Preço maior</option>
        <option>Preço menor</option>
      </select>
    </div>
  </section>

  <section class="empty-state">
    <div class="empty-icon"></div>
    <h3>Ainda não tens anúncios</h3>
    <p>Publica o teu primeiro anúncio no CASARÃO.</p>

    <a href="criaranuncio.html" class="publish-btn">Criar Anúncio</a>
  </section>

</main>

</body>
</html>